/* color
    primary : #512da8
    secondary : #3f51b5

*/
*{
    padding: 0px;
    margin: 0px;
}
.App{
    background: url('./imgs/bg.png') repeat;
    height: 100vh;
}
.form{
    width: 50%;
    margin: 20% auto;
    padding: 20px 10px;
}
.btn{
    background-color: #512da8;   
}