/* color
    primary : #512da8
    secondary : #3f51b5

*/
*{
    padding: 0px;
    margin: 0px;
}
.App{
    background: url('./imgs/bg.png') repeat;
    height: 100vh;
}
.form{
    width: 50%;
    margin: 80px auto;
    padding: 20px 10px;
 
}
.btn{
    background-color: #512da8;   
}
.avatarContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    
}
.avatar{
    background-image: url("./imgs/login.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 0 auto;
    border:#512da8;
    padding: 5px;
    
}